* {
  margin: 0;
  padding: 0;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stock {
  border: 1px solid red;
  width: 41vw;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}