:root {
  --primary-color: #F2D541;
  --first-color: #F2B035;
  --second-color: #D97B29;
  --third-color: #628C61;
  --fourth-color: #101010;
}

.app {
  background-color: var(--fourth-color);
}

.nav {
  display: flex;
  width: 99vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-color);
}